<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coven</title>
    <link rel="stylesheet" href="assets/style/lib/bootstrap.min.css">
    <link rel="stylesheet" href="assets/style/lib/bootstrap-icons.min.css">
    <link rel="stylesheet" href="assets/style/app-global.css">
</head>

<body>
    <main hx-get="/ui/coven" hx-target="#coven" hx-swap="innerHTML" hx-trigger="load">
        <section id="coven" class="container-fluid">

        </section>
    </main>
</body>

<script src="assets/js/lib/htmx.min.js"></script>
<script src="assets/js/lib/htmx-ext-response-targets.min.js"></script>

</html>