{
    "rootPath": "./webUIBundle",                    # required
    "staticFilesDirName": "static_files_home",      # required
    "staticFilesRootRouteName": "assets",           # required
    "layoutTemplates": [
        "layouts/*.html"
        "layouts/otherFormat.htmltempl"
    ],
    "pageTemplates": [
        "pages/*.html"
    ]
}